@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?f05wz2');
	src:url('/fonts/icomoon.eot?#iefixf05wz2') format('embedded-opentype'),
		url('/fonts/icomoon.ttf?f05wz2') format('truetype'),
		url('/fonts/icomoon.woff?f05wz2') format('woff'),
		url('/fonts/icomoon.svg?f05wz2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-contactus_contact:before {
	content: "\e600";
}
.icon-contactus_Maplocatorc:before {
	content: "\e601";
}
.icon-contactus_Query:before {
	content: "\e602";
}
.icon-convert_readmore_arrow:before {
	content: "\e603";
}
.icon-header_langblue:before {
	content: "\e604";
}
.icon-header_searchblue:before {
	content: "\e605";
}
.icon-home_footer_FBc:before {
	content: "\e606";
}
.icon-home_footer_linkedinc:before {
	content: "\e607";
}
.icon-home_footer_Twitterc:before {
	content: "\e608";
}
.icon-home_footer_youtubec:before {
	content: "\e609";
}
.icon-home_header_contactwhite:before {
	content: "\e60a";
}
.icon-home_menuicons__analyticsandreporting:before {
	content: "\e60b";
}
.icon-home_menuicons__board:before {
	content: "\e60c";
}
.icon-home_menuicons__convertxp:before {
	content: "\e60d";
}
.icon-home_menuicons__crosschannel:before {
	content: "\e60e";
}
.icon-home_menuicons__Dataonboarding:before {
	content: "\e60f";
}
.icon-home_menuicons__exclusives:before {
	content: "\e610";
}
.icon-home_menuicons__fbmarketing:before {
	content: "\e611";
}
.icon-home_menuicons__founders:before {
	content: "\e612";
}
.icon-home_menuicons__industryreports:before {
	content: "\e613";
}
.icon-home_menuicons__insights:before {
	content: "\e614";
}
.icon-home_menuicons__investors:before {
	content: "\e615";
}
.icon-home_menuicons__jobopening:before {
	content: "\e616";
}
.icon-home_menuicons__leadership:before {
	content: "\e617";
}
.icon-home_menuicons__marketingchannel:before {
	content: "\e618";
}
.icon-home_menuicons__mediacoverage:before {
	content: "\e619";
}
.icon-home_menuicons__ourstory:before {
	content: "\e61a";
}
.icon-home_menuicons__successstories:before {
	content: "\e61b";
}
.icon-home_menuicons__values:before {
	content: "\e61c";
}
.icon-home_menuicons__Vizurianspeak:before {
	content: "\e61d";
}
.icon-home_menuicons__webmobileapp:before {
	content: "\e61e";
}
.icon-home_menuicons__whitepaper:before {
	content: "\e61f";
}
.icon-home_menuicons_apprengage:before {
	content: "\e620";
}
.icon-home_menuicons_pressroom:before {
	content: "\e621";
}
.icon-home_yellowband_arrow:before {
	content: "\e622";
}
.icon-jobopenings_department:before {
	content: "\e623";
}
.icon-jobopenings_experience:before {
	content: "\e624";
}
.icon-jobopenings_locationwhite:before {
	content: "\e625";
}
.icon-Minus:before {
	content: "\e626";
}
.icon-Plus:before {
	content: "\e627";
}
.icon-three-bars:before {
	content: "\f05e";
}
