@import url('./bootstrap.min.css');
@import url('./creative.css');
@import url('./animate.min.css');
@import url('./ihover.css');
@import url('./sprites.css');
@import url('./press-release.css');
@import url('./flexslider.css');

@import url('./cs-select.css');
@import url('./cs-skin-border.css');
@import url('./pages.css');

@import url('./icons.css');
@import url('./header.css');

@font-face {
   font-family: 'proxima';
   src: url('../fonts/ProximaNova-Light_0.otf');
}

@font-face {
   font-family: 'proximab';
   src: url('../fonts/ProximaNova-Bold.otf');
}

/** Overriding Intergalactic CSS */

.single-page .entry-header {
    background-color: transparent;
}

.single.single-thumbnail .entry-background {
    top: 0;
}


.sf-menu {
  line-height: 1.0;
}
.sf-menu, .sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

#navigation .sf-menu li {
  float: left;
  position: relative;
}
/* test add end */

html {
	margin: 0 !important;
}

body {
  background: #fff;
}

* {
	box-sizing: border-box;
	font-family: proxima;
	color: inherit;
}

b, strong {
	font-family: proximab;
}

td {
	border-width: 0;
	vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: none;
	font-family: proxima;
	color: #202020;
}

h1 {
	font-size: ;
}

input[type=button],
input[type=submit] {
	text-transform: none;
}

a {
	color: #202020;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    transition: all .1s;
    text-decoration: none;
}

a:active,
a:hover {
    text-decoration: none;
    color: #7b7b7b;
}

input.yellowbutton {
	padding: 10px 40px;
	background-color: #ffd846;
	border-radius: 4px;
	color: #202020;
}

.container {
	background: none;
}

/** Image CSS */



.client-logo {
	width: 210px;
}

.v-logo {
	width: 175px;
}

.circle-box {
	margin-top: 2%;
	margin-bottom: 2%;
}

/** TEXTCSS */

p {
	text-align: justify;
	font-size: 16px;
	margin: 1%;
}

.white-text {
	color: #fff;
}

.text-center {
	text-align: center;
}

.section-title {
	margin: 2% auto;
	text-align: center;
	position: relative;
}

.white-3dbox-block {
	background-color: #202020;
}

.blog-entry-tile {
	height: 520px;
	padding: 10px 30px;
	font-size: 16px;
}

.no-border {
	border-width: 0 !important;
}

.bottom-right {
	position: absolute;
	right: 8%;
	bottom: 4%;
}

.bottom-right-widget {
	position: absolute;
	right: 5px;
	bottom: 40px;
}

.bottom-right-convert {
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: #fff;
}


/** Heading Text */

.heading-block {
	height: 95vh;
	color: #fff;
	padding-top: 8%;
	padding-bottom: 10%;
	position: relative;
	background-color: rgba(0,0,0,0.7);
}
.heading-text {
	margin-top: 10%;
	margin-bottom: 10%;
}
.heading-block .heading-text h2 {
	font-size: 60px;
	font-weight: 700;
	line-height: 120%;
	color: #fff;
	text-align: center;
}
.heading-block .heading-text h4 {
	font-weight: 150;
	font-size: 35px;
	line-height: 150%;
	color: #fff;
	text-align: center;
}


/** Buttons CSS */
.btn-default {
	background: #ffd846;
	color: #202020;
	padding: 10px 40px;
	border-radius: 2px;
	font-size: 18px;
}
.btn-default:hover {
	background: #202020;
	color: #fff;
}

/** Yellow Strip */

.yellow-text-block {
	padding: 10px;
	position: relative;
	background-color: #FFD845;
	text-align: center !important;
	color: #222;
	font-size: 20px;
}

.yellow-strip-text {
	font-size: 20px;
	text-align: center;
	display: inline;
	line-height: 1em;
}

.yellow-strip-text .icon-home_yellowband_arrow {
	font-size: 25px;
	color: #222;
	margin: 1%;
}

/** Second frame text*/

.intro-text {
	font-size: 20px;
	margin: 5% 10%;
	text-align: center;
}

.intro-text p {
	font-size: 20px;
	text-align: center;
}

.v-intro-text {
	margin: 5% auto;
}

.v-intro-text p {
	font-size: 20px;
	text-align: justify;
	margin-top: 5%;
}

.service-box {
    margin: 2% auto 4%;
    max-width: 400px;
}

.home-vbox {
	margin: 2% auto;
}


/** Testi */


.leading-brands-block {
	background-color: #C2D667;
	position: relative;
	height: 100vh;
	text-align: center;
	padding: 5%;
}

.brand-images {
	height: 80vh;
	overflow: hidden;
	position: relative;
}

.brand-images-sm {
	display: none;
}

.brand-images-sm h2 {
	color: #fff;
}

.brand-images-sm p {
	color: #fff;
	width: 70%;
	text-align: justify;
	display: inline-block;
}

.brand-images-sm > div {
	margin: 2%;
}

.brands-choose {
	vertical-align: top;
	position: absolute;
	top: 10%;
	right: 5%;
	color: #fff;
	max-width: 25%;
}

.brands-choose h2{
	color: #fff;
	line-height: 0.5em;
}

.brand-testimonials p {
	margin-top: 30px;
	color: #fff;
}

.brands-list {
	background-color: #fff;
	border-radius: 2px;
	padding: 0 5%;
	margin-left: -330px;
	min-width: 400px;
	position: absolute;
	display: inline-block;
	bottom: 0;
	left: 50%;
}

.brands-list li {
	display: inline-block;
}

.brands-list ul {
	margin: 0;
}

.testi-loght {
		height: 58px;
	}

/** Feature Section */

.feature-section {
	margin: 0% auto 5%;
}

.home-feature-icon {
	height: 125px;
	width: 125px;
	text-align: center;
	margin: 10% auto 5%;
}



/** Numbers Section Circles */

.numbers-section {
	background-image: url("/images/bg-move.jpg");
	background-position: fixed;
	background-size: cover;
	padding: 20% auto;
}

.circle-holder {
	margin: 8% auto 5%;
}

.circle-no {
	height: 180px;
	width: 180px;
	text-align: center;
}

.feature-section h3, .numbers-section h3 {
	font-size: 20px;
}

#heart-animation {
	background: url('/images/heart_home.svg') no-repeat center;
	width: 100px;
	height: 100px;
	display: inline-block;
	animation: heart-beating 1.3s ease-in infinite;
}

@keyframes heart-beating{
    from {transform: scale(0.9);}
    to {transform: scale (1);}
}

.no-animation {
	animation-name: none !important;
	position: absolute;
	text-align: center;
	top: 15px;
	left: 50%;
	margin-left: -150px;
}

.slow-fade {
	animation: slow-fading 1s ease-in 1;
}

@keyframes slow-fading {
	from {opacity: 0;}
	to {opacity:1;}
}

/**Reach Page*/

.reach-nos {
	height: 60vh;
	padding: 10% auto;
}

.circle-holder-reach {
	margin: 5% auto 5%;
}

#wrap {
	width: 100%;
}

/** ihover override **/
div.img {
	text-align: center;
}
.ih-item img {
	width: auto;
	height: auto;
}

/** Background video */
#bgvid {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/** Classes need to handle the extra <p> elements added the wordpress html editor */
.flatten-extra-p p {
	margin: 0;
}
.hide-extra-p p {
	display: none;
}


/** Text below image */
.text-below-image {
	text-align: justify;
	padding: 10px 10px;
	margin-bottom: 20px;
}

/** Flex slider **/
.flexslider {
	border: none;
}
.flexslider .slides > li {
	display:inline-block;
	overflow:hidden;
	position:relative;
	margin-right: -.25em;
	width:20.08%;
}
.flexslider .slides > li p {
	margin: 0;
}
.flexslider .slides > li .normal-text,
.flexslider .slides > li:hover .hover-text {
	display: block;
}
.flexslider .slides > li .hover-text,
.flexslider .slides > li:hover .normal-text {
	display: none;
}
.flexslider .flex-caption {
	top: 50%;
	margin-left: 20px;
	background-color: transparent;
}
.flexslider .slides img {
	display: block;
	max-width: 1000px;
	height: 600px;
}
.flexslider .flex-caption {
	padding: 20px;
	background-color: rgba(0,0,0,0.8);
	display: inline-block;
	bottom: auto;
	width: 80%;
	font-size: 20px;
	line-height: 1.5em;
}
.flexslider .flex-caption h4 {
	font-size: 24px;
}


/** Footer */
#footer {
	background: none;
	padding: 0;
}
#footer a,
#footer a:active,
#footer a:visited {
	color: #fff;
}
#footer a:hover {
	color: #ffd846;
}
#footer .fb-contact,
#footer .linkedin-contact,
#footer .youtube-contact,
#footer .twitter-contact {
	width: 20px;
	height: 20px;
	display: inline-block;
}
#footer .fb-contact {
	background-image: url(/images/home_footer_fb.svg);
}
#footer .fb-contact:hover {
	background-image: url(/images/home_footer_fb_c.svg);
}
#footer .linkedin-contact {
	background-image: url(/images/home_footer_linkedin.svg);
}
#footer .linkedin-contact:hover {
	background-image: url(/images/home_footer_linkedin_c.svg);
}
#footer .youtube-contact {
	background-image: url(/images/home_footer_youtube.svg);
}
#footer .youtube-contact:hover {
	background-image: url(/images/home_footer_youtube_c.svg);
}
#footer .twitter-contact {
	background-image: url(/images/home_footer_twitter.svg);
}
#footer .twitter-contact:hover {
	background-image: url(/images/home_footer_twitter_c.svg);
}


/** Main content */
#main-content {
	margin: 0;
	padding: 0;
	position: relative;
	overflow-x: hidden;

}

.front-page-container {
	display: block;
}

.front-page-container .products-block {
	background-color: #202020;
	text-align: center
}

.front-page-container .products-block .products-intro {
	margin: 30px;
	color: #fff;
	font-size: 24px;
	display: inline-block;
	width: 850px;
}

.front-page-container .products-block .products-details {
	text-align: center;
}

.front-page-container .products-block .products-details .products-section {
	display: inline-block;
	width: 250px;
	text-align: center;
	margin: 20px;
}

.front-page-container .products-block .products-details .products-section .product-title {
	font-size: 24px;
	margin: 20px auto;
	color: #fff;
}

.front-page-container .products-block .products-details .products-section .product-description {
	display: inline-block;
	width: 250px;
	text-align: center;
}

.product-reach-image {
	background-image: url(../../../imgs/reach-logo.png);
	width: 148px;
	height: 148px;
	display: inline-block;
}

.product-convert-image {
	background-image: url(../../../imgs/convert-logo.png);
	width: 148px;
	height: 148px;
	display: inline-block;
}

.product-engage-image {
	background-image: url(../../../imgs/engage-logo.png);
	width: 148px;
	height: 148px;
	display: inline-block;
}





/** Engage Pages */
.engage-floating-bg {
	width: 1000px;
	height: 475px;
	background-image: url(/images/master_engage.svg);
}
.engage-data-floating-bg {
	width: 350px;
	height: 350px;
	margin-top: 50px !important;
	background-image: url(/images/data_engage.svg);
}
.engage-insights-floating-bg {
	width: 350px;
	height: 350px;
	margin-top: 40px !important;
	background-image: url(/images/insights_engage.svg);
}
.engage-marketing-floating-bg {
	width: 350px;
	height: 350px;
	margin-top: 50px !important;
	background-position: center;
	background-image: url(/images/marketing_engage.svg);
}
.engage-data-floating-bg div,
.engage-insights-floating-bg div,
.engage-marketing-floating-bg div {
	white-space: nowrap;
}
.engage-hover-magic-text {
	width: 100%;
	height: 800px;
	background-image: url(/images/nodes_svg.svg);
	background-size: cover;
}


/** Testimonials block */
.testimonial-bg {
	width: 400px;
	height: 360px;
	margin: auto;
	background-image: url(/imgs/testimonialB.jpg);
	background-size: contain;
	position: relative;
	left: -30px;
	top: -30px;
}



/*-- .heading-block .heading-text h2 {
	margin: 0;
	font-size: 60px;
	line-height: 72px;
	font-family: proximab
}
.heading-block .heading-text h4 {
	margin: 5px 0;
	font-size: 36px;
	line-height: 36px;
	font-family: proxima;
}
--*/

#pills-first {
	text-align: center;
}
.tab-pane {
	height: 200px;
	padding: 5%;
}
.nav-pills>li{
	display: inline-block;
	float: none;
	margin: 0% 5% 5%;
	padding:0px;
}
.nav-pills>li>a {
	padding: 15px 0;
	margin: 0 15px;
	border-radius: 0;
	background-color: transparent !important;
}

.nav-pills>li>a:hover {
	box-shadow: inset 0 -3px 0 0 #7b7b7b;
}


.prod-logo {
		height: 100px;
		width: 100px;
	}

 .tab-content h4 {
	 padding-top: 8%;
	 text-align: justify;
 }



/** Intro text container */
.intro-box {
	padding-bottom: 4%;
}

/** Yellow Band CSS */
.yellow-text-block {
	padding: 1% 0;
	position: relative;
	background-color: #FFD845;
	text-align: center;
	color: #333;
	font-size: 12px;
}
.yellow-text-block .gray-text {
	font-weight: bold;
}

.yellow-text-block p {
	margin: 0;
}

.yellow-text-block a,
.yellow-text-block a:hover {
	color: #333;
}

.yellow-text-block a.carousel-control {
	color: #fff;
}
.yellow-text-block a .icon-home_yellowband_arrow {
	color: inherit;
	border-radius: 50%;
}
.yellow-text-block a:hover .icon-home_yellowband_arrow {
	color: inherit;
	background-color: #fff;
}

.yellow-text-block .btn-default {
	color: #ffd845;
	background-color: #202020;
}
.yellow-text-block .btn-default:hover {
	background-color: #fff;
	color: #202020;
}
.yellow-text-block .inline-content p {
	display: inline-block;
	margin: 1%;
}
.yellow-text-block .big-white-number {
	font-size: 120px;
	color: #fff;
	margin: 0 auto;
	line-height: 1em;
	font-family: 'proximab';
}
.yellow-text-block .big-white-number-text {
	font-size: 44px;
	color: #fff;
	margin: 24px auto;
	line-height: 1em
}
.yellow-text-block .vertical-middle {
	display: inline-block;
	margin-top: 48px;
}

/** Gray Gallery Block */
.halka-gray-box {
	background-color: #ccc;
	padding: 30px 50px;
}
.halka-gray-box h2 {
	margin: 30px auto 50px;
	text-align: center;
}


/* Round Images container */
.round-images-container {
	background-color: #fff;
	margin: auto 5% 5%;
}
.round-images-container img {
	width: 140px;
	height: 140px;
	padding: 15px;
	display: inline-block;
	text-align: center;
}

.feature-icon-holder {
	height: 175px;
	width: 175px;
	border: 2px solid;
	border-radius: 100%;
	text-align:center;
	margin-bottom: 10%;
	display: inline-block;
}

.feature-holder {
	margin: 2% auto;
}

.feature-text {
	margin: 5%;
	text-align: justify;
}


/* Read More */

.read-more-block {
	margin: auto 5%;
}

/* Floating Text Box */
.floating-text-box {
	position: relative;
	margin: 0 auto;
	list-style-type: none;
}
.floating-text-box .gray-bg {
	background-color: #666;
	color: #fff;
}
.floating-text-box .circular-bound {
	border-radius: 50%;
}
.hoverable-text {
	display: block;
}
.xsmallcircle,
.bigcircle,
.smallcircle,
.xbigcircle {
	position: absolute;
	font-size: 12px;
    -webkit-transition-duration: .5s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-in-out;
}
.xsmallcircle {
	width: 90px;
	height: 90px;
}
.bigcircle {
	width: 150px;
	height: 150px;
}
.smallcircle {
	width: 120px;
	height: 120px;
}
.xbigcircle {
	width: 180px;
	height: 180px;
}
.bigcircle.expanded,
.smallcircle.expanded,
.xbigcircle.expanded {
    -webkit-transition-duration: .5s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-in-out;
    transform: translate(-25%, -25%);
    z-index: 100;
}
.smallcircle.expanded {
	width: 280px;
	height: 280px;
}
.bigcircle.expanded {
	width: 320px;
	height: 320px;
}
.xbigcircle.expanded {
	width: 320px;
	height: 320px;
}
.hoverable-text .plus-icon,
.hoverable-text .minus-icon {
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -10px;
	border: 1px solid #fff;
	padding: 3px;
	font-size: 16px;
	line-height: 8px;
	border-radius: 50%;
}
.hoverable-text .plus-icon,
.hoverable-text.activate .minus-icon,
.hoverable-text:hover .minus-icon {
	display: block;
}
.hoverable-text .minus-icon,
.hoverable-text.activate .plus-icon,
.hoverable-text:hover .plus-icon {
	display: none;
}
.hoverable-text .floating-hover-text {
	text-align: center;
	position: absolute;
	color: #fff;
	text-align: justify;
	display: none;
	width: 80%;
}
.hoverable-text .floating-normal-text {
	text-align: center;
	vertical-align: middle;
	color: #fff;
	position: absolute;
}
.floating-text-element-xsmall,
.floating-text-element-small,
.floating-text-element-medium,
.floating-text-element-large {
	position: absolute;
	text-align: center;
}
.floating-text-element-xsmall {
	font-size: 14px;
}
.floating-text-element-small {
	font-size: 16px;
}
.floating-text-element-medium {
	font-size: 20px;
}
.floating-text-element-large {
	font-size: 24px;
}

/* Portfolio Box */
.portfolio-box-static {
	width:100%;
	height:100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
}
.portfolio-box-static span {
	position: relative;
	top: 50%;
	margin-top: -20px;
	font-size: 20px;
}
.portfolio-box-caption .icon-home_yellowband_arrow {
	font-size: 54px;
}

/* Engage Accordion */
.heading-block .tab-accordion-engage {
	margin: 100px 20px;
}
.tab-accordion-engage {
	display: none;
	text-align: left;
}
.tab-accordion-engage h3 {
	margin: 0;
	padding: 8px 15px;
	background-color: #aaa;
	border: 1px solid #000;
	color: #000;
}
.tab-accordion-engage ul {
	list-style: none;
	margin: 0;
}
.tab-accordion-engage ul ul {
	display: none;
}
.tab-accordion-engage ul ul li {
	margin: 0;
	padding: 5px 15px;
	color: #000;
	background-color: #fff;
}

/* Black Bg Heading */
.black-background-heading {
	background-color: #000;
	color: #fff;
	font-size: 36px;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
}


/* White Text Sections */
.white-background {
	background-color: #fff;
	color: #333;
	text-align: justify;
	padding: 5% 0;
	position: relative;
}
.white-background .row {
	margin: 10px;
}
.white-background h2,
.white-background h3 {
	text-align: center;
}
.white-background .call-to-action {
	margin-top: 30px;
}

.unfloat {
	float: none !important;
}

.unfloat-to-center {
	float: none !important;
	margin: 40px auto;
	text-align: justify;
}


/* Fonts */
.bigass-font {
	font-size: 120px;
	font-weight: bold;
}
.xl-font {
	font-size: 25px;
}
.large-font {
	font-size: 20px;
}


/* Product Page CSS */
.container .nav-pills {
	margin: 0;
	padding: 0;
}


/* Custom, Iphone Retina */
@media(max-width: 479px) {

	.heading-text {
		margin-top: 60%;
		margin-bottom: 10%;
	}

	.heading-block .heading-text h2 {
		font-size: 40px;
		font-weight: 700;
		line-height: 100%;
		margin-top: 1px;
		margin-bottom: 1px;
	}

	.heading-block .heading-text h4 {
		font-weight: 150;
		font-size: 20px;
		line-height: 120%;
		margin-top: 20px;
	}


	.yellow-strip-text {
		font-size: 18px;
		text-align: center;
		display: inline-block;
		line-height: 1.3em;
	}

	.intro-text {
		font-size: 18px;
		margin: 5% 5%;
		text-align: center;
	}

	.floating-text-box {
		position: static;
		background-image: none !important;
		margin: 0 auto;
		list-style-type: none;
		text-align: center;
	}
	.floating-text-box .circular-bound {
		border-radius: 25%;
	}
	.bigcircle,
	.smallcircle {
		display: block;
		position: relative;
		left: 0 !important;
		top: 0 !important;
		margin: 0 !important;
		padding: 10px;
		margin: 20px;
		font-size: 12px;
	    -webkit-transition-duration: .5s;
	    -webkit-transition-property: all;
	    -webkit-transition-timing-function: ease-in-out;
	}
	.bigcircle.expanded,
	.smallcircle.expanded {
	    transform: none;
	}
	.hoverable-text .floating-normal-text {
		text-align: center;
		vertical-align: middle;
		color: #fff;
		position: relative;
	}
	.floating-text-element-xsmall,
	.floating-text-element-small,
	.floating-text-element-medium,
	.floating-text-element-large {
		position: relative;
		left: 0 !important;
		top: 0 !important;
		margin: 0 !important;
		text-align: center;
		padding: 4px 12px;
		display: block;
		font-size: 1.2em;
		margin: 10px auto !important;
		background-color: rgba(0,0,0,0.5);
	}
	.floating-text-element-medium {
		font-size: 30px;
	}
	.floating-text-element-xsmall b,
	.floating-text-element-small b,
	.floating-text-element-medium b,
	.floating-text-element-large b {
		font-size: 1.2em;
	}

	.engage-floating-bg {
		width: auto;
		height: auto;
		background-image: none;
		background-color: rgba(0,0,0, 0.2);
	}
	.engage-data-floating-bg {
		width: auto;
		height: auto;
		background-image: none;
		background-color: rgba(0,0,0, 0.2);
	}
	.engage-insights-floating-bg {
		width: auto;
		height: auto;
		background-image: none;
		background-color: rgba(0,0,0, 0.2);
	}
	.engage-marketing-floating-bg {
		width: auto;
		height: auto;
		background-image: none;
		background-color: rgba(0,0,0, 0.2);
	}
	.engage-hover-magic-text {
		width: auto;
		height: auto;
	}

	.prod-logo {
		height: 60px;
		width: 60px;
	}

	.nav-pills>li{
		display: inline-block;
		float: none;
		margin: 0% 0% 5%;
	}

	.tab-content h4 {
	 text-align: justify;
	}

	.reach-nos {
	height: 130vh;
	padding: 10% auto;
	}

	.blog-entry-tile {
	height: 600px;
	padding: 10px 30px;
	font-size: 16px;
	}

}

/* Extra Small Devices, Phones */
 @media(min-width:480px) and (max-width:767px){

	.heading-text {
	margin-top: 35%;
	margin-bottom: 10%;
	}

	.heading-block .heading-text h2 {
	font-size: 40px;
	font-weight: 700;
	line-height: 100%;
	margin-top: 1px;
	margin-bottom: 1px;
	}

	.heading-block .heading-text h4 {
	font-weight: 150;
	font-size: 20px;
	line-height: 120%;
	margin-top: 20px;
	}

	.brands-choose {
	vertical-align: top;
	position: absolute;
	top: 10%;
	right: 2%;
	}

	.brands-list {
	background-color: #fff;
	border-radius: 2px;
	padding: 0 5%;
	margin-left:-50%;
	min-width: 400px;
	position: absolute;
	display: inline-block;
	}

	.prod-logo {
		height: 80px;
		width: 80px;
	}

	.nav-pills>li{
		display: inline-block;
		float: none;
		margin: 0% 1% 5%;
	}

	.tab-content h4 {
	 padding-top: 2%;
	 text-align: justify;
	}

	.feature-icon-holder {
	height: 175px;
	width: 175px;
	border: 2px solid;
	border-radius: 100%;
	text-align:center;
	margin-bottom: 2%;
	display: inline-block;
	}

	.feature-holder {
	margin: 2% 15%;
	}

	.blog-entry-tile {
	height: 450px;
	padding: 10px 30px;
	font-size: 16px;
	}

	.reach-nos {
	height: 130vh;
	padding: 10% auto;
	}

 }


 /* Anything less than App */
 @media(max-width: 991px) {

	#pre-header {
		display: none;
	}

	#navigation {
		display: none;
	}

	#mobilenavigation-container {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	#mobilenavigation-container .navigation-trigger {
		position: absolute;
		right: 20px;
		top: 20px;
		padding: 3px;
		color: #fff;
		border: 1px solid #fff;
		border-radius: 3px;
		line-height: 10px;
		font-size: 30px;
	}

	.mobilenavigation {
		display: none;
		font-size: 30px;
		color: #fff;
		margin: 0;
		position: relative;
		top: 68px;
		overflow: auto;
		padding: 0 15px;
		list-style-type: none;
		background-color: #999
	}

	.mobilesubnav {
		display: none;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.mobilenavigation li {
		padding: 10px 0;
		font-size: 0.8em;
	}

	.mobilenavigation li a {
		display: block;
	}

	.mobilenavigation li .login-button {
		padding: 3px 8px;
		background-color: #fff;
		border: 1px solid #fff;
		border-radius: 4px;
		color: #999;
	}

	.mobilenavigation li > div {
		font-weight: bold;
		display: inline-block;
	}

	.mobilenavigation li .plus-icon,
	.mobilenavigation li .minus-icon {
		float: right;
		line-height: 13px;
		padding: 4px 3px 2px 3px;
		border: 1px solid #fff;
		width: 20px;
		height: 20px;
		text-align: center;
	}

	.mobilenavigation li > .minus-icon,
	.mobilenavigation li.expanded-menu > .plus-icon {
		display: none;
	}

	.mobilenavigation li > .plus-icon,
	.mobilenavigation li.expanded-menu > .minus-icon {
		display: inline-block;
	}

	.tab-pane {
		height: auto;
	}

	.leading-brands-block {
		height: auto;
	}

	.brands-choose {
		display: none;
	}

	.brand-images {
		display: none;
	}

	.brand-images-sm {
		display: block;
	}

	.testi-loght {
		height: 58px;
	}

	.nav-pills>li  {
		display: inline-block;
		float: none;
		margin: 0% 2% 5%;
	}

	.tab-content h4 {
	 	padding-top: 5%;
	 	text-align: justify;
	}

	.engage-marketing-floating-bg,
	.engage-insights-floating-bg,
	.engage-data-floating-bg,
	.engage-floating-bg {
		display: none;
	}

	.tab-accordion-engage {
		display: block;
		margin: 0 auto;
	}
 }

/* Small Devices, Tablets */
@media(min-width : 768px) and (max-width:991px) {


}

/* Medium Devices, Desktops */
@media(min-width : 992px) and (max-width:1199px) {


}

/* Large Devices, Wide Screens */
@media(min-width : 1200px) {


}

@media screen and (max-width: 767px) {

	#footer ul {
		text-align: center;
		margin: 0;
		font-size: 20px;
	}

	#footer .white-text > div {
		margin-bottom: 20px;
	}

	img.grayscale {
	    filter: none;
	    -webkit-filter: grayscale(0%);
	}
}

